.counter-wrapper{
    height: 100%;
    width: 100%;
	margin-top: auto;
    margin-right: auto;
    margin-left: auto;
	flex-direction: column;
	background: linear-gradient(to top, #323c97, #b4ddec, white);
    
}



