.counter-wrapper{
    height: 100%;
    position: relative;
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 250px 0 250px;
	background: linear-gradient(to top, #323c97, #b4ddec, white);
	padding-bottom: 30px;
}