.menu-app-bar {
    .nav-link {
    position: sticky;
      top: 0;
      left: 0;
      cursor: pointer;
      transition: all 0.3s linear;
      &.active {
        background-color: #DFD8D8;
        .nav-link-name {
          color: rgb(161, 31, 31);
        }
        }
      }
    }
