.menu-app-bar {
    .nav-link {
      
      cursor: pointer;
      transition: all 0.3s linear;
      &.active {
        background-color: #3f51b5;
        .nav-link-name {
          color: rgb(161, 31, 31);
        }
        }
      }
    }
