
.body{
    //margin-top: 50px;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	padding: 0 250px 0 250px;
	background: linear-gradient(to top, #323c97, #b4ddec, white);
	height: fit-content;
    
    .counter-title {
        margin: 10px 0px;
        font-size: 46px;
        color: rgba(76, 132, 177, 0.726);
      }
}

