
.body{
    //margin-top: 50px;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	padding: 0 250px 0 250px;
	background: linear-gradient(to top, #323c97, #b4ddec, white);
	height: 1400px;
    
}
