.devices-wrapper {
	position: relative;
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 250px 0 250px;
	background: linear-gradient(to top, #6da9d1, #b4ddec, white);
	padding-bottom: 30px;

	.water-circuit-row {
		display: flex;
		flex-direction: row;
		.left-column {
			&.external {
				align-items: center;
				margin-left: 60px;
				margin-top: 30px;
			}
			&.internal {
				margin-left: 12px;
			}
		}
		.right-column {
			&.external {
				align-items: center;
				margin-right: 60px;
			}
		}
	}

	.water-circuit-column {
		display: flex;
		flex-direction: column;
	}
	.condenser {
		width: 65px;
		margin-right: 10px;
	}
	.circuit-breaker {
		transform: rotate(90deg);
		width: 40px;
		margin-bottom: 40px;
	}
	.compressor-icon {
		width: 65px;
	}

	.line-container {
		display: flex;
		justify-content: center;
		align-items: center;
		&.line-container-vertical {
			margin-bottom: 40px;
		}

		.blue-line-icon {
			height: 70px;
			width: 70px;
			position: relative;
			&.line-vertical {
				transform: rotate(-45deg);
				margin-bottom: 40px;
			}

			&.line-horizontal {
				transform: rotate(45deg);
				margin-right: 50px;
			}
		}
		.arrow {
			width: 80px;
			margin-right: 30px;
		}

		.line {
			margin-top: 8px;
			width: 50px;
			background: linear-gradient(to right, #0de6fe, #39c0fe, #4caffe);
			height: 6px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			float: left;
		}

		.point {
			width: 0;
			height: 0;
			border-top: 12px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 30px solid #39c0fe;
			float: right;
		}
	}
	.space-between {
		width: 100%;
		justify-content: space-between;
	}
	.b-compressors {
		position: relative;
		.compressors-state-row {
			position: absolute;
			top: 80px;
			left: 137px;
		}
	}
	.compressors-with-state-container {
		display: flex;
		margin-right: 25px;
		.compressor-with-state {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 15px;
			.compressor-state {
				background: red;
				border: 2px solid #000;
				border-radius: 10px;
				padding: 10px;
				font-weight: 600;
				margin-top: 5px;
				margin-left: 10px;
				&.active {
					border: 2px solid #fff;
					background-color: #6fd25a;
					color: #fff;
				}
			}
		}
	}
	.water-circuit-internal {
		position: absolute;
		top: 160px;
		.blue-line-icon {
			width: 40px;
			height: 40px;
		}
		.condenser {
			margin-bottom: 20px;
		}
		.a-compressors {
			display: flex;
			flex-direction: row-reverse;
			position: relative;
		}
	}
}
