html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Montserrat, OpenSans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}